<footer class="footer navbar-dark bg-dark">
  <div class="container">
    <span class="text-muted">Criador por <a href="https://www.facebook.com/andrerodriguess96">André Rodrigues</a>.</span>
  </div>
</footer>
