.restaurant-photo > button {
    position: absolute;
    margin: 10px -55px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.restaurant-photo:hover > button {
    visibility: visible;
    opacity: 1;
}
