<h4>Atualizar Dados do Restaurante</h4>

<div class="row">
    <form class="col-9" (ngSubmit)="save()">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Nome" [(ngModel)]="restaurant.name">
        </div>

        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="Descrição" [(ngModel)]="restaurant.description"></textarea>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="phone" [(ngModel)]="restaurant.phone" placeholder="Telefone">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="cep" [(ngModel)]="address.cep" minlength="8" maxlength="8" (keyup)="searchCep()" placeholder="CEP">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="address" [(ngModel)]="address.address" placeholder="Endereço" disabled>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="city" [(ngModel)]="address.city" placeholder="Cidade" disabled>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="neighborhood" [(ngModel)]="address.neighborhood" placeholder="Bairro" disabled>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="state" [(ngModel)]="address.state" placeholder="Estado" disabled>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="complement" [(ngModel)]="address.complement" placeholder="Complemento">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="number" [(ngModel)]="address.number" placeholder="Número">
        </div>

        <div class="form-group">
            <input type="submit" value="Salvar" class="btn">
        </div>
    </form>

    <div class="col-3">
        <div class="card dragdrop"
             [ngClass]="{'lighten-1': dragging}"
             (click)="file.click()"
             (drop)="upload($event)"
             (dragover)="dragover($event)"
             (dragleave)="dragging = false"
        >
            <i class="ion-image ion-"></i>
            <p *ngIf="!dragging;else release">Arraste sua foto aqui ou clique para enviar</p>
            <ng-template #release>
                <p *ngIf="upload_status == 'not'">Solte para enviar</p>
                <p *ngIf="upload_status == 'sending'">Enviando, aguarde...</p>
                <p *ngIf="upload_status == 'success'">Enviado com sucesso!</p>
                <p *ngIf="upload_status == 'error'">Erro ao enviar, tente novamente ou contate o administrador.</p>
            </ng-template>
            <input type="file" accept="image/*" #file style="display: none" (change)="upload($event)">
        </div>
    </div>
</div>

<h4>Galeria de Fotos</h4>

<div class="row">
    <div class="col-3 restaurant-photo" *ngFor="let photo of photos">
        <img src="{{photo.full_url}}" class="rounded img-fluid">
        <button type="button" class="btn btn-primary" (click)="deletePhoto(photo)"><i class="ion-trash-b"></i></button>
    </div>

    <div class="col-10">
        <div class="custom-file">
            <input id="logo" type="file" class="custom-file-input" (change)="preparePhoto($event)">
            <label for="logo" class="custom-file-label text-truncate">Choose file...</label>
        </div>
    </div>

    <div class="col-2">
        <div class="form-group">
            <input type="submit" value="Enviar Foto" class="btn" (click)="sendPhoto()">
        </div>
    </div>
</div>