<div id="detalhe" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes da Avaliação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <dl class="row">
          <dt class="col-sm-3">Nome:</dt>
          <dd class="col-sm-9">Andre Rodrigues</dd>

          <dt class="col-sm-3">Estrelas:</dt>
          <dd class="col-sm-9">5 Estrelas.</dd>

          <dt class="col-sm-3">Descrição:</dt>
          <dd class="col-sm-9"><p>Lorem ipsilum dolar</p></dd>
        </dl>

        <hr>

        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Resposta:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
