<h4>Troque sua senha</h4>

<form class="col-9">
    <div class="form-group">
        <input type="text" name="password" class="form-control" placeholder="Senha" [(ngModel)]="user.password">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="confirm_password" placeholder="Confirme a Senha" [(ngModel)]="user.confirm_password"></textarea>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn">
    </div>
</form>