<h4>Perfil do Usuário</h4>

<form class="col-9" (ngSubmit)="updateUser()">
    <div class="form-group">
        <input type="text" name="email" class="form-control" placeholder="E-mail" [ngModel]="user.email" disabled>
    </div>

    <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Nome" [(ngModel)]="user.name">
    </div>

    <div class="form-group">
        <label>Redefinir a Senha:</label>
        <input type="password" name="password" class="form-control" placeholder="Senha" [(ngModel)]="user.password">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Sua senha deve ser maior que 6 caracteres.
        </small>
    </div>

    <div class="form-group">
        <input type="password" name="password_confirm" class="form-control" placeholder="Confirme a Senha"
               [(ngModel)]="user.password_confirm">
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn">
    </div>
</form>