<div class="modal fade bd-example-modal-lg save-prato" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Prato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="save()">

                <div class="modal-body">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="addFile($event)">
                            <label class="custom-file-label" for="inputGroupFile01">Foto</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" id="name" name="name" [(ngModel)]="dish.name" class="form-control"
                               placeholder="Nome do prato">
                    </div>

                    <div class="form-group">
                        <input id="price" name="price" [(ngModel)]="dish.price" type="text" class="form-control"
                               placeholder="Preço do prato">
                    </div>

                    <div class="form-group">
                        <textarea id="description" name="description" [(ngModel)]="dish.description"
                                  class="form-control" placeholder="descrição"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
