<form (submit)="login()">
  <div class="form-group">
    <label for="email">Endereço de e-mail</label>
    <input id="email" type="email" class="form-control" name="email" required autofocus [(ngModel)]="user.email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Senha</label>
    <input id="password" type="password" class="form-control" name="password" required [(ngModel)]="user.password">
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>