<h4>Pratos - Seu Cardápio</h4>
<a routerLink="criar" class="btn btn-primary"><i class="ion-plus-circled"> Adicionar Prato</i></a>

<div class="row">
    <div class="col-4" *ngFor="let dish of dishes">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{dish.photo_full_url}}" alt="Card image cap">
            <button class="btn btn-primary" (click)="deleteDish(dish)"><i class="ion-trash-b"></i></button>
            <a routerLink="editar/{{dish.id}}" class="btn btn-primary"><i class="ion-edit"> Editar Prato</i></a>
            <div class="card-body">
                <h5 class="card-title">{{dish.name}}</h5>
                <p class="card-text">{{dish.description}}</p>
                <hr>
                <p>R$ {{dish.price}}</p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
