<h4>Dashboard</h4>

<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">2</h5>
        <p class="card-text">Novas avaliações.</p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">3 de 5</h5>
        <p class="card-text">Avaliações médias.</p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">300</h5>
        <p class="card-text">Total de avaliações.</p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">150</h5>
        <p class="card-text">Integrações com telefones.</p>
      </div>
    </div>
  </div>
</div>

<h4>Avaliações</h4>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Avaliação</th>
    <th scope="col">Mensagem</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>André</td>
    <td>1 Estrela</td>
    <td>Msg Teste</td>
    <td><a class="btn btn-info" routerLink="detalhe/1">Ler</a></td>
  </tr>
  </tbody>
</table>

<app-paginator></app-paginator>

<router-outlet></router-outlet>
