/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ionicons/css/ionicons.css";

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0px;
}

.dragdrop {
  padding: 26% 20px;
  text-align: center;
  background-color: gray;
}

.dragdrop i {
  font-size: 64px;
}

.dragdrop:hover {
  background-color: lightgray;
  cursor: pointer;
}