<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Painel <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav">

      <li class="nav-item dropleft">
        <a href="#" class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item disabled" href="#">
            <img class="d-flex justify-content-center"
                 style="border-radius: 50%; margin: auto"
                 src="https://www.gravatar.com/avatar/a18a7a4ee1e7a9fd1340e7d582fec0d9?s=80">
          </a>

          <a class="dropdown-item" routerLink="/dashboard"><i class="ion-arrow-down-a"></i> Painel</a>
          <a class="dropdown-item" routerLink="perfil"><i class="ion-android-restaurant"></i> Inf. do Restaurante</a>
          <a class="dropdown-item" routerLink="pratos"><i class="ion-pizza"></i> Pratos</a>
          <h6 class="dropdown-header">Minha Conta</h6>
          <a class="dropdown-item" routerLink="editar"><i class="ion-edit"></i> Editar meus dados</a>
          <a class="dropdown-item" routerLink="senha"><i class="ion-key"></i> Trocar Senha</a>
          <a class="dropdown-item" (click)="logout()"><i class="ion-log-out"></i> Sair</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
